{% extends "akkuvs/base.xhtml" %}
{% comment %}
    AkkuVS – A rechargeable battery management system
    Copyright (C) 2014  Moritz Strohm <ncc1988@posteo.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block page_content %}
{% if authenticated %}
  <p>What do you want to do?</p>
  <ul>
    <li><a href="{% url 'akkuvs-search' %}">Search batteries</a></li>
    <li><a href="{% url 'akkuvs-show_list' %}">Show batteries as list</a></li>
    <li><a href="{% url 'akkuvs-new_battery' %}">New battery</a></li>
    <li><a href="{% url 'akkuvs-battery_actions' %}">Change battery attributes</a></li>
    <li><a href="{% url 'akkuvs-logout' %}">Logout</a></li>
  </ul>
  {% for g in groups %}
  <div class="Group">
    <div class="GroupTitle">{{g.name}}</div>
    <div class="GroupContent">
    {% for b in g.batteries.all %}
    <div class="Battery">
      <img class="BatteryCapacityIcon" src="{% url 'akkuvs-show_battery_capacity_svg' b.id %}" type="image/svg+xml"></img>
      <table class="BatteryContext">
        <tr>
          <td colspan="2" class="BatteryRegNr">
            <a href="{% url 'akkuvs-show_battery' b.id %}">{{b.regNr}}</a>
          </td>
        </tr>
        <tr><td colspan="2" class="BatteryName">{{b.name}}</td></tr>
        <tr><td class="BatteryTechnology">{{b.technology}}</td>
        {% if b.charged %}
        <td class="BatteryStatus Charged">charged</td>
        {% else %}
        <td class="BatteryStatus Discharged">discharged</td>
        {% endif %}
        </tr>
        <tr>
          <td colspan="2" class="BatteryActions">
            <a class="NewChargeLink" href="{% url 'akkuvs-new_charge' b.id %}">+C</a>
            <a class="NewDischargeLink" href="{% url 'akkuvs-new_discharge' b.id %}">+D</a>
            <a class="NewStatusLink" href="{% url 'akkuvs-new_status' b.id %}">+S</a>
            <a class="NewUsageLink" href="{% url 'akkuvs-new_usage' b.id %}">+U</a>
          </td>
        </tr>
      </table>
    </div>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
  {% if ungrouped_batteries %}
  <div class="Group">
    <div class="GroupTitle">ungrouped batteries</div>
    <div class="GroupContent">
    {% for b in ungrouped_batteries %}
    <div class="Battery">
      <img class="BatteryCapacityIcon" src="{% url 'akkuvs-show_battery_capacity_svg' b.id %}" type="image/svg+xml"></img>
      <table class="BatteryContext">
        <tr>
          <td colspan="2" class="BatteryRegNr">
            <a title="show battery information" href="{% url 'akkuvs-show_battery' b.id %}">{{b.registration_number}}</a>
          </td>
        </tr>
        <tr><td colspan="2" class="BatteryName">{{b.name}}</td></tr>
        <tr><td class="BatteryTechnology">{{b.technology}}</td>
        {% if b.charged %}
        <td class="BatteryStatus Charged">charged</td>
        {% else %}
        <td class="BatteryStatus Discharged">discharged</td>
        {% endif %}
        </tr>
        <tr>
          <td colspan="2" class="BatteryActions">
            <a class="NewChargeLink" title="new charge" href="{% url 'akkuvs-new_charge' b.id %}">+C</a>
            <a class="NewDischargeLink" title="new discharge" href="{% url 'akkuvs-new_discharge' b.id %}">+D</a>
            <a class="NewStatusLink" title="new status" href="{% url 'akkuvs-new_status' b.id %}">+S</a>
            <a class="NewUsageLink" title="new usage" href="{% url 'akkuvs-new_usage' b.id %}">+U</a>
          </td>
        </tr>
      </table>
    </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% else %}
  <h2>Welcome to this AkkuVS instance!</h2>
  <p>You need to <a href="{% url 'akkuvs-login' %}">log in</a> to continue.</p>
{% endif %}
{% endblock %}