{% extends "akkuvs/base.xhtml" %}
{% comment %}
    AkkuVS – A rechargeable battery management system
    Copyright (C) 2014  Moritz Strohm <ncc1988@posteo.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block page_path %}Search{% endblock %}
{% block page_content %}
<form method="get" action="{% url web-search %}">
  <label for="search">Search for:</label>
  <input type="text" name="search" />
  <br/>
  <label for="technology">Battery technology:</label>
  {% for technology in BatteryTechnologies %}
  <input type="radio" name="technology" value="{{technology.name}}">{{technology.name}}</input>
  {% endfor %}
  <br/>
  <label for="size">Battery size:</label>
  {% for size in BatterySizes %}
  <input type="radio" name="size" value="{{size.name}}">{{size.name}}</input>
  {% endfor %}
  <br/>
  <input type="submit" value="Search"/>
  <input type="reset" value="Reset"/>
</form>
<hr/>
{% if SearchResults %}
<table>
  <tr>
    <th>ID</th>
    <th>RegNr</th>
    <th>Name</th>
    <th>Capacity</th>
    <th>Technology</th>
    <th>Size</th>
    <th>Registration Date</th>
  </tr>
  {% for Result in SearchResults %}
  <tr>
    <td>{{Result.id}}</td>
    <td>{{Result.regNr}}</td>
    <td>{{Result.name}}</td>
    <td>{{Result.capacity}}</td>
    <td>{{Result.technology.name}}</td>
    <td>{{Result.size.name}}</td>
    <td>{{Result.registrationDate}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}